body{
    font: 15px/1.5 Arial, Helvetica, Sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    background:url('bg.jpg');
}
/*Global*/
.container{
    width:98%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding:0;
}
.button_1{
    height:20px;
    background:#ff0052;
    border:0;
    padding-left:10px;
    padding-right:10px;
    color:#ffffff;
}
.dark{
    padding:15px;
    background:#e4c2c1;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
}
.dark p{
    font-size:12px;
    }
/*header*/
header{
    background:#e4c2c1;
    color:#ffffff;
    padding-top:20px;
    min-height:30px;
    border-bottom:#ff0052 3px solid;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:10px;
}
header li{
    float:left;
    display:inline;
    padding:0 10px;
}
header #branding{
    float:left;
}
header #branding h1{
    margin:2px;
    font-size:12px;
}
header nav{
    float:right;
    margin-top:0px;
}
header .highlight, header .current a{
    color: #ff0052;
    font-weight: bold;
}
header a:hover{
    color:#13044e;
    font-weight:bold;
}
#showcase{
    min-height:100px;
        background:url('A.jpg') no-repeat;
        background-position:center;
        background-size:cover;
        text-align:center;
        color:#fef2f2;
}
#showcase h1{
    margin-top:20px;
    font-size:18px;
    margin-bottom:10px;
}
#showcase p{
    font-size:10px;
}
/*Newsletters*/
#newsletter{
    padding:5px;
    color:#ffffff;
    background:#35424a;
    margin-bottom:10px
}
#newsletter h1{
    float:left;
    font-size:11px;
}
#newsletter form{
    float:right;
    margin-top:8px;
}
#newsletter input[type="email"]{
    padding:2;
    height:14px;
    width:125px;
}
/*Boxes*/
img:hover {
    opacity: 0.5;
  }
#boxes{
margin-top:10px;
}
#boxes .box{
    float:left;
    text-align:center;
    margin-top:10px;
  text-align: center;
}
#boxes h3{
    font-size:12px;
    color: white;
}
#boxes p{
    font-size:10px;
    color: white;
}
#boxes .box img{
    width:100px;
}
/*Sidebar*/
aside#sidebar{
    float:inline-end;
    width:38%;
    margin-top:10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}
/*Main-col*/
article#main-col{
    float:left;
    width:60%;
}
article#main-col h1{
    color:#ff0052;
    text-transform:uppercase;
    }
    article#main-col p{
        font-size:10px;
        }
/*Services*/
ul#services li{
    list-style: none;
    padding: 10px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6
    }
ul#services p{
        font-size:10px;
    }
ul#services h4{
        font-size:10px;
    }
footer{
    padding:10px;
    margin-top:10px;
    color:#ffffff;
    background-color:#ff0052;
    text-align:center;
}
